# environment
.DS_Store
node_modules/
.env
.env.local
.env.*

# build artifacts
/build
/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor/IDE cache
.idea/
.vscode/
*.swp

# coverage/test results
coverage/
.nyc_output/

# misc
*.local

.local_doc/