:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --gray-25: rgba(253, 253, 253, 1);
    --gray-50: rgba(250, 250, 250, 1);
    --gray-100: rgba(245, 245, 245, 1);
    --gray-200: rgba(233, 234, 235, 1);
    --gray-300: rgba(213, 215, 218, 1);
    --gray-400: rgba(164, 167, 174, 1);
    --gray-500: rgba(113, 118, 128, 1);
    --gray-600: rgba(83, 88, 98, 1);
    --gray-700: rgba(65, 70, 81, 1);
    --gray-800: rgba(37, 43, 55, 1);
    --gray-900: rgba(24, 29, 39, 1);
    --brand-25: rgba(250, 253, 255, 1);
    --brand-50: rgba(245, 250, 255, 1);
    --brand-100: rgba(229, 243, 255, 1);
    --brand-200: rgba(208, 235, 255, 1);
    --brand-300: rgba(165, 216, 255, 1);
    --brand-400: rgba(116, 192, 252, 1);
    --brand-500: rgba(77, 171, 247, 1);
    --brand-600: rgba(51, 154, 240, 1);
    --brand-700: rgba(34, 139, 230, 1);
    --brand-800: rgba(25, 113, 194, 1);
    --brand-900: rgba(24, 100, 171, 1);
    --error-25: rgba(255, 251, 250, 1);
    --error-50: rgba(254, 243, 242, 1);
    --error-100: rgba(254, 228, 226, 1);
    --error-200: rgba(254, 205, 202, 1);
    --error-300: rgba(253, 162, 155, 1);
    --error-400: rgba(249, 112, 102, 1);
    --error-500: rgba(240, 68, 56, 1);
    --error-600: rgba(217, 45, 32, 1);
    --error-700: rgba(180, 35, 24, 1);
    --error-800: rgba(145, 32, 24, 1);
    --error-900: rgba(122, 39, 26, 1);
    --warning-25: rgba(255, 252, 245, 1);
    --warning-50: rgba(255, 250, 235, 1);
    --warning-100: rgba(254, 240, 199, 1);
    --warning-200: rgba(254, 223, 137, 1);
    --warning-300: rgba(254, 200, 75, 1);
    --warning-400: rgba(253, 176, 34, 1);
    --warning-500: rgba(247, 144, 9, 1);
    --warning-600: rgba(220, 104, 3, 1);
    --warning-700: rgba(181, 71, 8, 1);
    --warning-800: rgba(147, 55, 13, 1);
    --warning-900: rgba(122, 46, 14, 1);
    --success-25: rgba(246, 254, 249, 1);
    --success-50: rgba(236, 253, 243, 1);
    --success-100: rgba(209, 250, 223, 1);
    --success-200: rgba(166, 244, 197, 1);
    --success-300: rgba(108, 233, 166, 1);
    --success-400: rgba(50, 213, 131, 1);
    --success-500: rgba(18, 183, 106, 1);
    --success-600: rgba(3, 152, 85, 1);
    --success-700: rgba(2, 122, 72, 1);
    --success-800: rgba(5, 96, 58, 1);
    --success-900: rgba(5, 79, 49, 1);
    --blue-gray25: rgba(252, 252, 253, 1);
    --blue-gray50: rgba(248, 249, 252, 1);
    --blue-gray100: rgba(234, 236, 245, 1);
    --blue-gray200: rgba(213, 217, 235, 1);
    --blue-gray300: rgba(175, 181, 217, 1);
    --blue-gray400: rgba(113, 123, 188, 1);
    --blue-gray500: rgba(78, 91, 166, 1);
    --blue-gray600: rgba(62, 71, 132, 1);
    --blue-gray700: rgba(54, 63, 114, 1);
    --blue-gray800: rgba(41, 48, 86, 1);
    --blue-gray900: rgba(16, 19, 35, 1);
    --blue-light25: rgba(245, 251, 255, 1);
    --blue-light50: rgba(240, 249, 255, 1);
    --blue-light100: rgba(224, 242, 254, 1);
    --blue-light200: rgba(185, 230, 254, 1);
    --blue-light300: rgba(124, 212, 253, 1);
    --blue-light400: rgba(54, 191, 250, 1);
    --blue-light500: rgba(11, 165, 236, 1);
    --blue-light600: rgba(0, 134, 201, 1);
    --blue-light700: rgba(2, 106, 162, 1);
    --blue-light800: rgba(6, 89, 134, 1);
    --blue-light900: rgba(11, 74, 111, 1);
    --blue-light1000: rgba(7, 47, 70, 1);
    --blue-25: rgba(245, 250, 255, 1);
    --blue-50: rgba(239, 248, 255, 1);
    --blue-100: rgba(209, 233, 255, 1);
    --blue-200: rgba(178, 221, 255, 1);
    --blue-300: rgba(132, 202, 255, 1);
    --blue-400: rgba(83, 177, 253, 1);
    --blue-500: rgba(46, 144, 250, 1);
    --blue-600: rgba(21, 112, 239, 1);
    --blue-700: rgba(23, 92, 211, 1);
    --blue-800: rgba(24, 73, 169, 1);
    --blue-900: rgba(25, 65, 133, 1);
    --indigo-25: rgba(245, 248, 255, 1);
    --indigo-50: rgba(238, 244, 255, 1);
    --indigo-100: rgba(224, 234, 255, 1);
    --indigo-200: rgba(199, 215, 254, 1);
    --indigo-300: rgba(164, 188, 253, 1);
    --indigo-400: rgba(128, 152, 249, 1);
    --indigo-500: rgba(97, 114, 243, 1);
    --indigo-600: rgba(68, 76, 231, 1);
    --indigo-700: rgba(53, 56, 205, 1);
    --indigo-800: rgba(45, 49, 166, 1);
    --indigo-900: rgba(45, 50, 130, 1);
    --purple-25: rgba(250, 250, 255, 1);
    --purple-50: rgba(244, 243, 255, 1);
    --purple-100: rgba(235, 233, 254, 1);
    --purple-200: rgba(217, 214, 254, 1);
    --purple-300: rgba(189, 180, 254, 1);
    --purple-400: rgba(155, 138, 251, 1);
    --purple-500: rgba(122, 90, 248, 1);
    --purple-600: rgba(105, 56, 239, 1);
    --purple-700: rgba(89, 37, 220, 1);
    --purple-800: rgba(74, 31, 184, 1);
    --purple-900: rgba(62, 28, 150, 1);
    --pink-25: rgba(254, 246, 251, 1);
    --pink-50: rgba(253, 242, 250, 1);
    --pink-100: rgba(252, 231, 246, 1);
    --pink-200: rgba(252, 206, 238, 1);
    --pink-300: rgba(250, 167, 224, 1);
    --pink-400: rgba(246, 112, 199, 1);
    --pink-500: rgba(238, 70, 188, 1);
    --pink-600: rgba(221, 37, 144, 1);
    --pink-700: rgba(193, 21, 116, 1);
    --pink-800: rgba(158, 22, 95, 1);
    --pink-900: rgba(133, 22, 81, 1);
    --ros-25: rgba(255, 245, 246, 1);
    --ros-50: rgba(255, 241, 243, 1);
    --ros-100: rgba(255, 228, 232, 1);
    --ros-200: rgba(254, 205, 214, 1);
    --ros-300: rgba(254, 163, 180, 1);
    --ros-400: rgba(253, 111, 142, 1);
    --ros-500: rgba(246, 61, 104, 1);
    --ros-600: rgba(227, 27, 84, 1);
    --ros-700: rgba(192, 16, 72, 1);
    --ros-800: rgba(161, 16, 67, 1);
    --ros-900: rgba(137, 18, 62, 1);
    --orange-25: rgba(255, 250, 245, 1);
    --orange-50: rgba(255, 246, 237, 1);
    --orange-100: rgba(255, 234, 213, 1);
    --orange-200: rgba(253, 220, 171, 1);
    --orange-300: rgba(254, 178, 115, 1);
    --orange-400: rgba(253, 133, 58, 1);
    --orange-500: rgba(251, 101, 20, 1);
    --orange-600: rgba(236, 74, 10, 1);
    --orange-700: rgba(196, 50, 10, 1);
    --orange-800: rgba(156, 42, 16, 1);
    --orange-900: rgba(126, 36, 16, 1);

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-10: 40px;
    --spacing-12: 48px;
    --spacing-13: 52px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-32: 128px;
    --spacing-40: 160px;
    --spacing-48: 192px;
    --spacing-56: 224px;
    --spacing-64: 256px;

    --font-family-base: 'Inter', sans-serif;

    --font-size-display-2xl: 72px;
    --line-height-display-2xl: 90px;
    --letter-spacing-display-2xl: -0.32px;
  
    --font-size-display-xl: 60px;
    --line-height-display-xl: 72px;
    --letter-spacing-display-xl: -0.32px;
  
    --font-size-display-lg: 48px;
    --line-height-display-lg: 60px;
    --letter-spacing-display-lg: -0.32px;
  
    --font-size-display-md: 36px;
    --line-height-display-md: 44px;
    --letter-spacing-display-md: -0.32px;
  
    --font-size-display-sm: 30px;
    --line-height-display-sm: 38px;
  
    --font-size-display-xs: 24px;
    --line-height-display-xs: 32px;
  
    --font-size-display-xxs: 20px;
    --line-height-display-xxs: 30px;
  
    --font-size-text-xl: 20px;
    --line-height-text-xl: 30px;
  
    --font-size-text-lg: 18px;
    --line-height-text-lg: 28px;
  
    --font-size-text-md: 16px;
    --line-height-text-md: 24px;
  
    --font-size-text-sm: 14px;
    --line-height-text-sm: 20px;
  
    --font-size-text-xs: 12px;
    --line-height-text-xs: 18px;
  
    --font-size-text-xss: 11px;
    --line-height-text-xss: 16px;
  
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;


        /* Extra Small Shadow */
    --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.05);
    
    /* Small Shadow */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    /* Medium Shadow */
    --shadow-md: 0 4px 8px -2px rgba(10, 13, 18, 0.1);
    
    /* Large Shadow */
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);
    
    /* Extra Large Shadow */
    --shadow-xl: 0 12px 24px rgba(0, 0, 0, 0.25);
    
    /* 2X Large Shadow */
    --shadow-2xl: 0 16px 32px rgba(0, 0, 0, 0.3);
    
    /* Inner Shadow */
    --shadow-inner: inset 0 2px 4px rgba(0, 0, 0, 0.06);
    
    /* No Shadow */
    --shadow-none: none;

    /* For Talbe */
    --shadow-table: 0 1px 3px rgba(10, 13, 18, 0.1);
  }
  