@import url("_variables.css");

body {
    display: flex;
    min-height: 100vh;
}

.container {
    height: calc(100% - 90px);
    display: flex;
    gap: var(--spacing-8, 32px);
    flex-direction: column;
}

/* 優化通知訊息 */
#message-container {
    max-width: 300px;
    position: fixed;
    top: 85px;
    right: 60px;
}