@import url("_variables.css");

.card {
    border-radius: var(--spacing-5, 20px);
    border: 1px solid var(--gray-200, #E7E8EA);
    background: var(--white, #FFF);
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

.table-card {
    border-radius: 12px !important;
    overflow: visible !important;
}

.card-header {
    border-radius: var(--spacing-5, 20px) !important;
    background-color: white;
    padding: var(--spacing-5, 20px) var(--spacing-8, 32px) 0 var(--spacing-8, 32px);
}

.card-header .btn {
    padding: 0.25rem 0.75rem;
}

.card-body {
    padding: var(--spacing-5, 20px) var(--spacing-8, 32px);
}

.card-title {
    color: var(--gray-900, #181D27);
    font-size: 18px;
    font-weight: 600;
    font-size: var(--Font-size-Text-xl, 20px);
}